<div class="container">	
	<%if logged_in?%>
	<h1 class="text-center">Hello, <%= current_user.username %></h1>
	<% else %>

	<div class="row">
			<div class="text-center">
				<h1> Welcome to coinplay!</h1>
				<h4 style="color:#ccc;">Compete against your friends &amp; win ฿itcoins!</h4>
			</div> <!-- col -->
	</div> <!-- row -->

	<div class="row" style="padding-top:10px;">
		<div class="text-center">


		<form action="<%= login_path %>" style="display:inline;">
			<button class="btn btn-primary" type="submit">Sign In</button>
		</form>
		or 
		<form action="<%= signup_path %>" style="display:inline;">
			<button class="btn btn-primary" type="submit">Sign Up</button>
		</form>
		</div>
	</div>
	<div class="row" style="padding-top:10px;">

		<p class="text-center">to get started</p>
	</div>
	</div>
	<% end %>

</div>
